# Requirements for all applications. Extra libs can be added on a per-application basis
cloudcix
cryptography
dateutils
django==5.0.10
django-cors-headers
django-elasticsearch-dsl
django-ipware
django-redis==5.2.0
django-rest-framework
django-utils-six
elasticsearch-dsl
git+https://github.com/CloudCIX/django-jaeger-middleware.git
git+https://github.com/CloudCIX/docgen.git
git+https://github.com/CloudCIX/metrics.git
git+https://github.com/CloudCIX/python-logstash-async.git
gunicorn==20.1.0
jaeger_client
influxdb
maxminddb-geolite2
psycopg2-binary
pyjwt
python3-logstash
raven
sentry-sdk
serpy
