# Requirements for all applications. Extra libs can be added on a per-application basis
cloudcix
cryptography
dateutils
django<2.3
django-cors-headers
django-elasticsearch-dsl==0.5.1
django-ipware
django-rest-framework
elasticsearch-dsl==6.1.0
git+https://github.com/CloudCIX/django-jaeger-middleware.git
git+https://github.com/CloudCIX/docgen.git
git+https://github.com/CloudCIX/metrics.git
git+https://github.com/CloudCIX/python-logstash-async.git
influxdb
maxminddb-geolite2
psycopg2-binary
pyjwt
serpy
